.information-message{
    color: blue;
    text-align: center;
}
.message{
    display: block;
    font-size: 16px;
}
.error{
    color: red;
}

.messages{
    list-style-type: none;
    padding:0;
}

.block-label{
    display: block;
}

.center-container{
    max-width: 500px;
    margin: auto;
}
a.disabled {
    pointer-events: none;
    cursor: default;
    color: gray;
}
.book-page {
    background: #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
    0 10px 0 -5px #eee, /* The second layer */
    0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
    0 20px 0 -10px #eee, /* The third layer */
    0 20px 1px -9px rgba(0,0,0,0.15);
    white-space: pre-wrap;
    margin: auto;
    max-width: 70%;
    min-width: 50%;
    padding: 20px;
    overflow-wrap: break-word;
    text-align: center;
}
.email{
    font-size: 16px;
    color: white;
    margin-right: 8px;
}
.panel-default > .panel-heading.creation-panel-header{
    background-color: black;
    font-size: 20px;
    color: white;
}
.login-form{
    margin-top: 8px;
}