.information-message{
    color: blue;
    text-align: center;
}
.message{
    display: block;
    font-size: 16px;
}
.error{
    color: red;
}

.messages{
    list-style-type: none;
    padding:0;
}

.block-label{
    display: block;
}

.creation-container{
    max-width: 500px;
    margin: auto;
}