<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>/pages/user/authorization.xhtml</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>login</filter-name>
    <filter-class>com.dataart.booksapp.ui.user.authorization.AuthorizationFilter</filter-class>
    <init-param>
      <param-name>loginUrl</param-name>
      <param-value>/pages/user/authorization.jsf</param-value>
    </init-param>
    <init-param>
      <param-name>unsecuredUrls</param-name>
      <param-value>/pages/user/registration.jsf</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>login</filter-name>
    <url-pattern>*.jsf</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  </servlet>
    <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>

</web-app>
